body {
  display: flex;
  height: calc(100vh - 10px);
}

.container {
  background-color: #f1f1f1;
  max-width: 700px;
  padding:1.25rem;
  margin:auto;
  border-width: 0.5rem;
  border-color: cadetblue;
  border-radius: 0.85rem;
  box-shadow: 0.3rem 0.3rem 0.1rem;
   
}

.container h1{
  text-align: center;
}

.container .inner-form article{
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap:1rem
}
.container .inner-form label{
  display: block;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}
.container .inner-form input{
  border-color: black;
  border-radius: 0.625rem;
  box-shadow: none;
  border-width: 0rem;
  border-style: solid;
  padding: 1rem;
  width: 90%;
}
.container .inner-form input:focus{
  border-color: aqua;
}

@media(min-width:700px){
  body {
    display: flex;
    height: calc(100vh - 10px);
  }
  .container .inner-form article{
    grid-template-columns: repeat(2,1fr) ;
  }
  .container .inner-form input{
    width: 90%;
    max-width: none;
  }
  .container .form-div{
    display: flex;
    align-content: center;
  }
}
